.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form-wrape {
  background-color: #61dafbb7;
  max-width: 600px;
  margin: 0 auto;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  border-radius: 7px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form input {
  width: 300px;
  padding: 7px;
  border-radius: 5px;
}
.form-wrape button{
  margin-top: 27px;
  cursor: pointer;
  padding: 5px 60px;
  border: none;
  background-color: rgb(174, 173, 173);
  border-radius: 5px;
}
.form-wrape button:active{
  background-color: rgba(174, 173, 173, 0.848);
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #282c34;
  color: #fff;
}
.logo-container{
  margin-left: 30px;
}
.create-block{
  margin-right: 30px;
}
.posts{
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 100px;
}
.user-post{
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000;
}
.user-post p {
  background-color: #1c1d1e;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
.logout-btn{
  margin-left: 30px;
  background-color: #1c1d1e;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
  }
.erorr-text{
  color: red;
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
}
.icon {
  cursor: pointer;
}
