.Logout:hover {
    background-size:cover;
    transform: scale(1.3);

}

.Logout:hover {
    box-shadow: 2px 5px 10px rgba(10, 69, 233, 0.7) ,0px 0px 10px rgba(255, 0, 170, 0.7),
    0px 0px 10px rgba(1, 255, 0, 0.7);
}