@keyframes shadowAnimation {
    0% {
      box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
    }
    50% {
      box-shadow: 0 0 10px rgba(255, 255, 0, 0.7);
    }
    100% {
      box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
    }
  }
  
  .yelp:hover {
    animation: shadowAnimation 2s infinite; 
  }
  