.logo{
    max-width: 150px;
    height: auto;
}
.login_wrape{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
form{
    display: flex;
    position: relative;
    padding-top: 30px;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
input{
    width: 400px;
    padding: 13px;
    outline: none;
    border-radius: 9px;
    border: none;
    transition: 0.4s ease-in-out;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
input:focus{
    transition: 0.4s ease-in-out;
}
.btn{
    margin-top: 24px;
    padding: 10px 100px;
    outline: none;
    border: none;
    color: #fff;
    background-color: rgb(57, 57, 243);
    border-radius: 9px;
    box-shadow: rgba(55, 109, 217, 0.2) 0px 2px 8px 0px;
}
.span-erorr{
    color: red;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    left: 5px;
    top: 75px;
}
.btn:hover{
    background-color: #000;
    color: #FFF;
    transition: 0.5s ease-in-out;
}
.bottom_block{
    margin-top: 30px;
}
.two{
    top: 147px;
}
.three{
    top: 220px;
}